.deps-wrapper {
  .deps-controller {
    height: 1.9rem;
    background-color: #f6f7fa;
    border: 1px solid #e5e9f5;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .deps-contents {
    min-height: 20rem;
    background-color: #f6f7fa;
    border: 1px solid #e5e9f5;
    border-top: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.8rem;
  }
}
