$primary: #0077ff;

.inp-cbx {
  position: absolute;
  visibility: hidden;
}

.inp-cbx:checked + .cbx {
  span {
    &:first-child {
      background: $primary;
      border-color: $primary;
      animation: wave 0.4s ease;

      svg {
        stroke-dashoffset: 0;
      }
    }
  }
}

.cbx {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;

  &:not(:last-child) {
    margin-right: 6px;
  }

  &:hover {
    background: rgba($primary, 0.06);
  }

  span {
    display: inline-flex;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);

    &:first-child {
      position: relative;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      border: 1px solid #cccfdb;
      transition: all 0.2s ease;
      box-shadow: 0 1px 1px rgba(#00104b, 0.05);
      svg {
        position: absolute;
        top: 3px;
        left: 2px;
        fill: none;
        stroke: #ffffff;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 16px;
        stroke-dashoffset: 16px;
        transition: all 0.3s ease;
        transition-delay: 0.1s;
        transform: translate3d(0, 0, 0);
      }
    }

    &:last-child {
      padding-left: 8px;
      line-height: 18px;
    }
  }

  &:hover span:first-child {
    border-color: $primary;
  }
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

.inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}
