main {
    section {
        h1 {
            height: 4rem;
            display: flex;
            align-items: center;
            padding-left: 3rem;
            border-top: 1px black solid;
            border-bottom: 1px black solid;
        }
    }
}
