.swiper {
  width: 100%;
  height: 100%;
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    .blog-wrap {
      height: 25rem;
      width: 16rem;
      padding: 0 1rem 0 1rem;
      img {
        display: block;
        width: 100%;
        height: 40%;
      }
      .blog-wrap__text-container {
        display: flex;
        align-items: start;
        flex-direction: column;
        padding: 2rem 0.5rem;
        font-size: 12px;
        p {
          width: 100%;
          text-align: left;
          overflow-wrap: break-word;
          white-space: normal;
        }
        .blog-wrap__text-container--writer {
          font-size: 0.6rem;
          margin-bottom: 0.5rem;
        }
        .blog-wrap__text-container--title {
          font-size: 2rem;
          margin-bottom: 0.5rem;
        }
        .blog-wrap__text-container--introduceText {
          font-size: 0.75rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

  
// .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
// }
