.code__postEditor {
    padding: 0 3rem;
    h2 {
        margin-bottom: 3rem;
    }
    .input-wrapper {
        margin-bottom: 2rem;
        p {
            margin-bottom: 0.75rem;
        }
    }
}
